In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='Column')

In [3]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_row', 85)

In [4]:
df['YearsCode']

Respondent
1          4
2        NaN
3          3
4          3
5         16
        ...
88377    NaN
88601    NaN
88802    NaN
88816    NaN
88863      8
Name: YearsCode, Length: 88883, dtype: object

In [10]:
df['YearsCode'] = df['YearsCode'].astype[float]

TypeError: 'method' object is not subscriptable

In [9]:
df['YearsCode'].unique()

array(['4', nan, '3', '16', '13', '6', '8', '12', '2', '5', '17', '10',
       '14', '35', '7', 0, '30', '9', '26', '40', '19', '15', '20', '28',
       '25', '1', '22', '11', '33', '50', '41', '18', '34', '24', '23',
       '42', '27', '21', '36', '32', '39', '38', '31', '37', 51, '29',
       '44', '45', '48', '46', '43', '47', '49'], dtype=object)

In [8]:
df['YearsCode'].replace('Less than 1 year', 0, inplace=True)
df['YearsCode'].replace('More than 50 years', 51 , inplace=True)

In [12]:
df['YearsCode'] = df['YearsCode'].astype(float)

In [14]:
df['YearsCode'].mean()

11.662114216834588

In [15]:
df['YearsCode'].median()

9.0